  .compact-table {
    font-size: 16px;
    width: 100%;
  }

  .compact-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
  }

  .compact-table th, .compact-table td {
    border: 4px solid #999;
    padding: 10px;
    text-align: center;
  }

  body { background: red !important; }