  .compact-table {
    font-size: 16px;
  }
  .compact-table table {
    border-collapse: collapse;
    width: 100%;
  }
  .compact-table th, .compact-table td {
    text-align: justify
    border: 4px solid #999;
    padding: 10px;
    text-align: center;
  }