.md-main__inner {
  margin-left: 0;
}

@media screen and (min-width: 1680px) {
  .md-sidebar--primary {
    width: 9rem;
    max-width: 9rem;
  }

  .md-main__inner {
    margin-left: 10rem;
  }
}

.md-content h1,
.md-content h2 {
  color: #1953ff;
}

.md-typeset {
  color: #000000;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}